snippet sout
System.out.println($1);$0
endsnippet

snippet maincl
public class `!p snip.rv=fn.replace(".java", "")` {
	public static void main(String[] args) {
		$0
	}
}
endsnippet

snippet main
public static void main(String[] args) {
	$0
}
endsnippet
