#!/usr/bin/env bash

alias db='surreal start -u root -p root rocksdb:///home/user/.local/share/eu.freymedical.eye-expert/db/'

alias gs='git status'
alias gc='git commit'
alias gca='git commit -a'
alias gcm='git commit -m'
alias gcam='git commit -am'
alias gd='git diff'
alias gsh='git show --name-status'
alias ga='git add'
alias gch='git checkout'
alias gl='git log'
alias glo='git log --oneline'
alias glog='git log --oneline --graph'
alias gloga='git log --oneline --graph --all'
alias gch='git checkout'
alias gb='git branch'
alias gba='git branch -a'
alias gpl='git pull'
alias gps='git push'
alias gpsh='git push'
alias gst='git stash'
alias grb='git rebase'
alias grbc='git rebase --continue'
alias grba='git rebase --abort'
alias gr='git remote'
alias gpr='gprune'
alias gsw='git switch'
alias gprune='git fetch -p && git branch -vv | awk "/: gone]/{print \$1}" | xargs git branch -D'
alias gf='git fetch'

alias cwr='cargo watch -q -c -x "run -q"'

alias v='vim'
# alias hx='helix'
alias h='helix'
#alias n='nap'
alias vim='nvim'
#alias ls='ls -l --color=auto --group-directories-first'
alias ls='lsd -l --group-directories-first'
alias lsh='ls --block-size=h'
alias lsa='ls -A'
alias lss='ls --total-size'
cl() {
	cd $@ && ls
}
alias diff='diff --color'
alias myip='dig +short myip.opendns.com @resolver1.opendns.com'
alias ..='cd ..'
alias py='python'
alias pym='python -m'
alias py2='python2'
#alias feh='feh -x --auto-zoom'
#alias feh='feh --scale-down'
alias grep='grep --color=auto -Pn'
alias grepi='grep -i'
alias grepr='grep -rI'
alias grepr2='grepr --exclude-dir=vendors --exclude-dir=plugins --exclude-dir=WEB-INF --exclude-dir=css'
alias rg='rg --smart-case'
rgf() {
	files=$(fd $1)
	rg $1 && [ -z $files ] || echo -e "\033[0;33m====== FILES ======\033[0m" && fd $1;
}
alias info='info --vi-keys'
alias htop='htop -d 8'
alias mpvtty='mpv -vo=drm'
alias stow='stow -v'
alias clip='xclip -selection clipboard'
alias echopath='echo $PATH | tr ":" "\n"'
alias clearswap='sudo swapoff -a && sudo swapon -a'
alias bim='vim'
alias svim='doas vim'
alias rnet='systemctl restart NetworkManager'
alias netdown='ip link set enp2s0 down'
alias netup='ip link set enp2s0 up'
alias netrestart='netdown && netup'
alias ds='df -h | \grep "/dev/sd\|Filesystem"'
alias pac='sudo pacman'
alias xm='vim ~/.xmonad/xmonad.hs'
del() {
	mv "$@" ~/.trash
}
alias bri='ddcutil setvcp 10'
alias bri2='ddcutil -d 2 setvcp 10'
alias bri?='ddcutil getvcp 10'
# sourcing "follows" directory in ranger
# double ranger to make it work with args, see https://github.com/ranger/ranger/issues/2187
alias ranger='source ranger ranger'
alias r='ranger'
# Requires `shopt -s globstar`
grepepubs() {
	for z in **/*.epub; do unzip -p "$z" | grep -aH --label="$z" "$@"; done
}
alias start='. startservers'
alias edit='. editproject'
alias work='. workscript'
alias term='alacritty --working-directory=. &'
alias wifi='nmcli dev wifi'
alias browsersyncstart='npx browser-sync start --server --no-notify --files *.css, *.html, *.js'
alias removeorphans='yay -Qtdq | yay -Rns -'
alias red='redshift &'
alias pn='pnpm'
alias pnx='pnpm dlx'
alias ctls='sudo systemctl status'
alias ctlstart='sudo systemctl start'
alias ctlstop='sudo systemctl stop'
alias ctlr='sudo systemctl restart'
alias ctle='sudo systemctl enable'
alias ctlen='sudo systemctl enable --now'
alias ctld='sudo systemctl disable'

alias d='docker'
alias cal='cal -3m'
alias rofi='rofi -monitor $(bspc query --names -M -m .focused)'
alias lg='lazygit'
alias nrs='nixos-rebuild switch --use-remote-sudo'
alias c='nvim ~/dotfiles/nixos/common.nix'
alias cfmt='nix shell fenix#default.rustfmt -c cargo fmt'
alias dim='redshift -x && xrandr --output DP-1 --brightness .4 && xrandr --output DP-2 --brightness .4 && redshift -O 2400'
alias resetdim='redshift -x'
alias mvi='mpv --config-dir=$HOME/.config/mvi'

. $(whereis complete_alias | cut -d' ' -f2)
complete -F _complete_alias gch
complete -F _complete_alias gsw
complete -F _complete_alias grb
